.git
.gitignore
node_modules
backend/node_modules
frontend/node_modules
frontend/build
backend/public
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
*.log
coverage
.cache
.netlify
.DS_Store
*:Zone.Identifier
