.quiz-completion-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #b3cab4, #f1f1f1);
  }
  
  .quiz-completion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #07610a;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  .quiz-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .layout-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.layout-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
  
  .completion-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
  }
  
  .completion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .completion-status {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .completion-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .points-earned {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .return-button {
    background-color: #07610a;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .return-button:hover {
    background-color: #06560a;
  }
  